---
import VueButton from "~/components/VueButton.vue"
---

<style>
  * {
    font-family: "Noto Sans JP", sans-serif;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Build 必ず Google Web Fonts からフォントダウンロードするように -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <VueButton>test</VueButton>
  </body>
</html>
